* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #222;
  color: #FFF;
}

.logo img {
  height: 40px;
}

.navbar {
  padding: 1.2em 1.4em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  border-bottom: 1px solid #F6982D;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin: 0 1em;
}

.navbar ul li a {
  text-decoration: none;
  transition: .5s;
  font-weight: 700;
}

.navbar ul li a:hover {
  color: #F6982D;
}

.message {
  padding: 1em;
  color: #004085;
  background-color: #CCE5FF;
  border: 1px solid #B8DAFF;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto 2em;
  max-width: 60%;
}

.container {
  min-height: 70vh;
  padding: 2em;
}

.auth-container {
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.auth-container h2 {
  margin-bottom: 1em;
  color: #FFF;
  border-left: 4px solid #F6982D;
  padding: .3em;
  width: 100px;
  font-weight: 700;
}

.auth-container a {
  color: #F6982D;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-control label {
  font-weight: 700;
  margin-bottom: .5em;
}

.form-control input,
.form-control textarea {
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #F6982D;
}

.btn {
  background-color: transparent;
  color: #F6982D;
  border: 2px solid #F6982D;
  padding: .5em 1.2em;
  cursor: pointer;
  margin: 1.3em 0;
  font-size: 1em;
  font-weight: 700;
  border-radius: 5px;
  text-decoration: none;
  transition: .5s;
}

.btn:hover {
  background-color: #F6982D;
  color: #FFF;
}

.footer {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #F6982D;
}

.footer span {
  font-weight: 700;
  color: #F6982D;
}
